.results-main-container {
  padding: 20px;
}

.results-heading {
  font-size: 32px;
  margin-bottom: 20px;
}

.results-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.result-card {
  width: 300px;
  background-color: #ffffff;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 0 10px #d7dfe9;
}

.quiz-title {
  font-size: 22px;
  margin-bottom: 10px;
}

.passed {
  color: green;
  font-weight: bold;
}

.failed {
  color: red;
  font-weight: bold;
}
